# runtime/cache
__pycache__/
cache/
logs/
static/
venv/
.venv/
docs/
*.pyc
models/cache/
data/speaker_models/

# løse filer
*.log
best_model.pt
Jarvis-Lite-Chat.spec
build_exe.py

# IDE filer
.vscode/
.idea/
*.swp
*.swo

# OS genererede filer
.DS_Store
Thumbs.db
